p {
    color: red;
    width: 500px;
    border: 1px solid black;
}
#blue {
    color: blue;
}

.myc {
    color: blue;
    font-weight: bold;
}
[href^="http:"] {
    font-weight: bold;
    font-size: 130%;
}

html {
    font-family: 'Roboto';
}

body {
    margin: 0% auto;
    padding: 0%, 20%, 20%, 20%;
    border-block-color: black;
}