body {
    background-color: white;
}
#btnsBody {
 align-content: center;
 margin: 50% 50%;   
}

#green {
    background-color: #85e085;
    padding: 20px 20px;
    margin-top: 20px;
}
#orange {
    background-color:#ff8533;
    padding: 20px 20px;
    margin-top: 20px;
}